# {{ ansible_managed }}

{% if ansible_distribution == "CentOS" and ansible_distribution_major_version == "7" %}
{% for block in aspects_rsyslog_config_centos7|sort %}
{{ aspects_rsyslog_config_centos7[block] }}
{% endfor %}
{% endif %}

{% if ansible_distribution == "Ubuntu" and ansible_distribution_release == "trusty" %}
{% for block in aspects_rsyslog_config_trusty|sort %}
{{ aspects_rsyslog_config_trusty[block] }}
{% endfor %}
{% endif %}

{% if ansible_distribution == "Ubuntu" and ansible_distribution_release == "xenial" %}
{% for block in aspects_rsyslog_config_xenial|sort %}
{{ aspects_rsyslog_config_xenial[block] }}
{% endfor %}
{% endif %}

{% if ansible_distribution == "Debian" and ansible_distribution_release == "stretch" %}
{% for block in aspects_rsyslog_config_stretch|sort %}
{{ aspects_rsyslog_config_stretch[block] }}
{% endfor %}
{% endif %}

{% if ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "7" %}
{% for block in aspects_rsyslog_config_oraclelinux7|sort %}
{{ aspects_rsyslog_config_oraclelinux7[block] }}
{% endfor %}
{% endif %}

{% if ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "6" %}
{% for block in aspects_rsyslog_config_oraclelinux6|sort %}
{{ aspects_rsyslog_config_oraclelinux6[block] }}
{% endfor %}
{% endif %}

{% if ansible_distribution == "Ubuntu" and ansible_distribution_release == "bionic" %}
{% for block in aspects_rsyslog_config_bionic|sort %}
{{ aspects_rsyslog_config_bionic[block] }}
{% endfor %}
{% endif %}


{% for block in aspects_rsyslog_config_general|sort %}
{{ aspects_rsyslog_config_general[block] }}
{% endfor %}
